mat-card{
  width:80%;
  margin:0 auto;
  text-align: center;
}
mat-form-field{
  width:50%;
}

.pointer{
  cursor:pointer;
}

.green{
  color:darkblue;
}
.red{
  color:red;
}

.success{
  color:darkblue;
  background-color:#E3F3FF;
}
.error{
  color:red;
  background-color:#FFE0E7;
}
.warning{
  color:orange;
  background-color:#FFDBD2;
}


input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}
