<mat-tab-group (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Pregled računa"><app-pregled-racuna></app-pregled-racuna></mat-tab>
  <mat-tab label="Nova transakcija"><app-nova-transakcija></app-nova-transakcija></mat-tab>
  <mat-tab label="Pregled transakcija"><app-pregled-transakcija></app-pregled-transakcija></mat-tab>
  <mat-tab label="Dijagram kriptovaluta"><app-dijagram-valuta></app-dijagram-valuta></mat-tab>
  <mat-tab label="Postavke"><app-postavke></app-postavke></mat-tab>
</mat-tab-group>
